:root {
  --primary-color: #042f64;
  --text-color: rgba(255, 255, 255, 0.6);
  --bgc-color: rgba(255, 255, 255, 0.8);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

.flex {
  display: flex;
}

.player {
  position: relative;
  height: 100vh;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

#theme {
  position: absolute;
  right: 50%;
  left: 20%;
  top: 20vh;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.375vw;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
}

.dashboard {
  width: 70%;
  height: 100%;
  border-bottom: 1px solid #ebebeb;
  margin-top: 42vh;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
  background-color: var(--bgc-color);
  display: inline-block;
  padding: 0 8px;
  border-radius: 8px;
}

header h2 {
  color: var(--primary-color);
  letter-spacing: 3px;
  padding: 2px 4px;
  border-radius: 12px;
  font-size: 24px;
  margin: 24px 0;
  background-color: var(--bgc-color);
  display: inline-block;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 14vw;
  min-width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: rgb(4, 4, 4);
  background-size: cover;
  margin: auto;
  opacity: 0.6;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 18px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
}

.control .btn {
  color: #3a506d7d;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  cursor: pointer;
  width: 30%;
  height: 100vh;
  overflow-y: scroll;
  animation: fadeOut 1.5s ease;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song:hover {
  background-color: var(--primary-color);
  opacity: 0.8;
}

.song:hover .title,
.song:hover .author {
  color: #fff;
  opacity: 1;
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.btn-prev:active {
  color: var(--primary-color);
}

.btn-next:active i {
  color: var(--primary-color);
}

.ani-text {
  font-weight: 600;
}

.playlist-icon {
  position: absolute;
  z-index: 99;
  top: 4px;
  right: -0;
  width: 42px;
  display: none;
}
.playlist-icon i {
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
  opacity: 0.8;
}

.playlist-icon:hover i {
  opacity: 1;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .player {
    width: 100%;
    overflow: hidden;
  }

  #theme {
    right: 10%;
    left: 10%;
    transition: ease-in-out 1s;
  }
  .playlist {
    display: none;
    transition: ease-in-out 1s;
    width: 100vw;
  }

  .dashboard {
    width: 100vw;
    transition: ease-in-out 1s;
  }

  .cd {
    width: 22vw;
  }

  .playlist-icon {
    display: block;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
